<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.van.distributed.packet.mapper.RedRacketRecordMapper">
  <resultMap id="BaseResultMap" type="cn.van.distributed.packet.entity.RedRacketRecordDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="red_packet_id" jdbcType="BIGINT" property="redPacketId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, amount, red_packet_id, uid, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from red_packet_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from red_packet_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.van.distributed.packet.entity.RedRacketRecordDO">
    insert into red_packet_record (id, amount, red_packet_id, 
      uid, create_time)
    values (#{id,jdbcType=BIGINT}, #{amount,jdbcType=INTEGER}, #{redPacketId,jdbcType=BIGINT}, 
      #{uid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.van.distributed.packet.entity.RedRacketRecordDO">
    insert into red_packet_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="redPacketId != null">
        red_packet_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="redPacketId != null">
        #{redPacketId,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.van.distributed.packet.entity.RedRacketRecordDO">
    update red_packet_record
    <set>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="redPacketId != null">
        red_packet_id = #{redPacketId,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.van.distributed.packet.entity.RedRacketRecordDO">
    update red_packet_record
    set amount = #{amount,jdbcType=INTEGER},
      red_packet_id = #{redPacketId,jdbcType=BIGINT},
      uid = #{uid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>